/* utility */
.margin_body{
  width: 80%;
  margin: auto;
}
.bg_lightgrey{
  background-color: #f3f5f9;
}
.bg_white{
  background-color: white;
}
.navbar-default .navbar-nav > li > a{
  color: #000;
}
#btn_blue{
  color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}
section{
  border: 1px solid black;
}

.color_white{
  color: white;
}
.color_black{
  color: black;
}
.color_blue{
  color: blue;
}
.bg_azzurro{
 background-color: #579aff;
}
/* utility */


/* inizio header */
.hero_image{
  width: 100%;
  background-image: url(img/hero_image.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero_text h1{
  margin-top: 75px;
  font-size: 60px;
  padding-right: 10px;
  font-weight: 600;
  margin-bottom: 30px;
}
.hero_text p{
  font-size: 20px;
  padding-right: 50px;
  font-weight: 300;
  margin-bottom: 75px;
}
form{
  border-radius: 10px;
  margin-top: 75px;
  margin-bottom: 20px;
}
form h3{
  text-align: center;
  font-weight: bolder;
  font-size: 27px;
  line-height: 40px;
  padding: 25px;
  margin-top: 15px;
}
.input_area{
  padding: 5px;
}
.input{
  width: 100%;
  padding: 5px;
  font-weight: bold;
}
.btn_account{
  margin: auto;
  width: 98%;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0px;
  margin-bottom: 5px;
}
.btn_account:hover{
  text-decoration: underline;
  cursor: pointer;
}
.btn_google{
  margin: auto;
  width: 98%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0px;
  box-shadow: 3px 3px grey;
  position: relative;
}
.btn_google:hover{
  text-decoration: underline;
  cursor: pointer;
}
.btn_google i{
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}
.text-center{
  margin: 10px;
  font-size: 12px;
  font-weight: 600;
}
.text-center a{
  text-decoration: underline;
}
/* fine header */


/* inizio main */
/* main_one */
.main_one h5{
  color: grey;
  font-weight: bold;
  margin: 30px;
}
.comunication_mark img{
  width: 15%;
}
.main_one a{
  font-size: 15px;
  text-decoration: none;
}
/* fine main_one */

/* main_two */
.text_main_two h2{
  font-size: 40px;
  font-weight: bold;
  color: #031c4e;
}
.text_main_two p{
  font-size: 17px;
  color: #5c6a88;
  padding: 0px 80px;
}
.links_left_main_two{
  margin-top: 50px;
}
.links_left_main_two li{
  list-style: none;
  padding: 15px;
  border-left: 1px solid #75809a;
}
.links_left_main_two li a{
  color: #75809a;
  font-weight: bold;
}
.box_links_main{
  margin-top: 50px;
}
.box_links_main h5{
  color: #031c4e;
  font-weight: bold;
}
.box_links_main p{
  color: #75809a;
  font-weight: bold;
}
/* fine main_two */

/* main_three */

/* fine main_three */

/* main_four */
/* fine main_four */

/* main_five */
/* fine main_five */

/* main_six */
/* fine main_six */

/* main_seven */
/* fine main_seven */
/* fine main */


/* inizio footer */

/* fine footer */
