/* utility */
.margin_body{
  width: 80%;
  margin: auto;
}
section{
  padding-bottom: 100px;
}
.bg_lightgrey{
  background-color: #f3f5f9;
}
.bg_white{
  background-color: white;
}
.navbar-default .navbar-nav > li > a{
  color: #000;
}
#btn_blue{
  color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}
#btn_white{
  color: blue;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.color_white{
  color: white;
}
.color_black{
  color: black;
}
.color_blue{
  color: blue;
}
.color_grey{
  color: #7a859d;
}

.bg_azzurro{
 background-color: #579aff;
}
.bg_blue{
  background-color: #031c4e;
}

.pl_15{
  padding-left: 15px;
}
.pr_15{
  padding-right: 15px;
}
.pb_25{
  padding-bottom: 25px;
}
.pt_25{
  padding-top: 25px;
}
.pt_100{
  padding-top: 100px;
}

.position_relative{

}
.text_main_two h2, .main_three h2, .main_four h2, .main_six h2{
  font-size: 35px;
  font-weight: bold;
  color: #031c4e;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* utility */


/* inizio header */
.navbar img{
  margin-top: 20%;
  height: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #007afd;
}
.hero_image{
  width: 100%;
  background-image: url(img/hero_image.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero_text h1{
  margin-top: 75px;
  font-size: 60px;
  padding-right: 10px;
  font-weight: 600;
  margin-bottom: 30px;
}
.hero_text p{
  font-size: 20px;
  padding-right: 50px;
  font-weight: 300;
  margin-bottom: 75px;
}
form{
  border-radius: 10px;
  margin-top: 75px;
  margin-bottom: 20px;
}
form h3{
  text-align: center;
  font-weight: bolder;
  font-size: 27px;
  line-height: 40px;
  padding: 25px;
  margin-top: 15px;
}
.input_area{
  padding: 5px;
}
.input{
  width: 100%;
  padding: 5px;
  font-weight: bold;
}
.btn_account{
  margin: auto;
  width: 98%;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0px;
  margin-bottom: 5px;
}
.btn_account:hover{
  text-decoration: underline;
  cursor: pointer;
}
.btn_google{
  margin: auto;
  width: 98%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0px;
  box-shadow: 3px 3px grey;
  position: relative;
}
.btn_google:hover{
  text-decoration: underline;
  cursor: pointer;
}
.btn_google i{
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}
.text-center{
  margin: 10px;
  font-size: 12px;
  font-weight: 600;
}
.text-center a{
  text-decoration: underline;
}
/* fine header */


/* inizio main */
/* main_one */
.main_one h5{
  color: grey;
  font-weight: bold;
  margin: 30px;
}
.comunication_mark img{
  width: 15%;
}
.main_one a{
  font-size: 15px;
  text-decoration: none;
}
/* fine main_one */

/* main_two */
.text_main_two p, .main_three p{
  font-size: 17px;
  color: #5c6a88;
  padding: 0px 80px;
}
.links_left_main_two{
  margin-top: 50px;
}
.links_left_main_two li{
  list-style: none;
  padding: 15px;
  border-left: 1px solid #75809a;
}
.links_left_main_two li a{
  color: #75809a;
  font-weight: bold;
}
.box_links_main{
  margin-top: 50px;
}
.box_links_main h5{
  color: #031c4e;
  font-weight: bold;
}
.box_links_main p{
  color: #75809a;
  font-weight: bold;
}
/* fine main_two */

/* main_three */
.carosello i{
  font-size: 25px;
  padding: 15px;
}
.img_main_three img, .img_main_six img{
  margin:auto;
  width: 50%;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}
.icon_under_carosello{
  color: blue;
}
/* fine main_three */

/* main_four */
.main_four img{
  margin-top: 25px;
}
.main_four h5{
  font-size: 20px;
}
.main_four p{
  font-size: 13px;
}
.main_four a{
  font-size: 13px;
  text-decoration: none;
}
/* fine main_four */

/* main_five */
.bg_radiant_blue{
  background: linear-gradient(#0043c1, #00219c);
  padding-bottom: 50px;
}
.box_destination{
  font-size: 11px;
}
.box_destination a{
  color: #00d5d2;
}
.main_five span{
  font-weight: bold;
}
/* fine main_five */

/* main_six */
/* uguale a main_three */
/* fine main_six */

/* main_seven */
.main_seven h2{
  margin-top: 30px;
  font-size: 40px;
}
.main_seven span{
  font-size: 20px;
}
.main_seven span a{
  text-decoration: none;
}
#btn_white:hover{
  cursor: pointer;
}
/* fine main_seven */
/* fine main */


/* inizio footer */
.color_grey > p{
  font-size: 15px;
  font-weight: bold;
}
.links_social_footer i{
  font-size: 20px;
  padding: 5px;
}
.footer_list li:first-child{
  font-size: 20px;
}
.footer_list li{
  font-size: 12px;
  list-style: none;
  line-height: 30px;
  text-transform: capitalize;
}
/* fine footer */

/* aggiunta */
.aggiunta{
  width: 300px;
  height: 50px;
  position: fixed;
  bottom: 5%;
  right: 2%;
}
.aggiunta:hover{
  cursor: pointer;
}
.img_avatar{
  float: right;
  height: 50px;
  width: 50px;
  background-image: url(img/avatar_shark.jpg);
  background-size: cover;
}
.message_avatar{
  float: right;
  width: 223px;
  height: 50px;
  background-color: white;
  margin-right: 25px;
  position: relative;
  padding: 0px 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}
.text_avatar{
  line-height: 23px;
  vertical-align: middle;
}
.frecciettina_avatar{
  position: absolute;
  top:30%;
  right: -4%;
  color: white;
  font-size: 30px;
}
/* fine aggiunta */

@media all and (max-width: 768px) {
  .navbar img{
    margin-top: 0%;
    height: 30px;
  }
  .hero_text h1{
    font-size: 30px;
  }
  .aggiunta{
    left: 5%;
    bottom: 25%;
  }
  .img_avatar{
    float: left;
    margin left: 5px;
  }
  .message_avatar{
    float: left;
    margin: 14px;
    margin-right: 25px;
    position: relative;
    left: -5%;
  }
  .frecciettina_avatar{
    display: none;
  }
}
